body {
    background-image: url("images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    height: 100%;
}

/* HEADER SECTION STYLING */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url("images/div_background.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    background-color: white;
    height: 60px;
    margin: 0;
    flex-wrap: wrap;
}

header div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header div nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-inline: 60px;
    align-items: center;
    flex-wrap: wrap;
}

header nav h1 {
    color: purple;
    font-family: "Jazz LET", sans-serif;
    /* HERE !!! */
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

header nav h1:hover {
    color: blueviolet;
}

header nav ul li {
    list-style: none;
    margin-inline: 20px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    font-size: 25px;
    font-family: "Jazz LET", sans-serif;
    color: purple;
    text-decoration: none;
}

header nav ul li a:hover {
    color: blueviolet;
}

/* ABOUT SECTION STYLING */

#about {
    /*background-image: url("images/div_background.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    border-radius: 10px;
    margin-top: 200px;
    margin-bottom: 100px;
}

#about div {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#about div h1 {
    text-align: center;
    font-family: "Jazz LET", sans-serif;
    color: white;
    margin-bottom: 0;
    font-size: 50px;
}
#about div h3 {
    margin-top: 0;
    text-align: center;
    font-family: "Jazz LET", sans-serif;
}
#about div div {
    margin-top: 20px;
    text-align: left;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    /*border: 1px white solid;*/
}

#about div div div {
    border: 1px white solid;
    margin-inline: 50px;
    width: 50%;
    height: 200px;
    padding: 5px;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-image: url("images/div_background.jpg");
    /*background: linear-gradient(45deg,#46223c, #32306d);*/
}
#about div div div h2 {
    font-family: "Palatino Linotype", serif;
    font-size: 50px;
}
#about div div div p {
    line-height: 1.5;
    font-family: "Palatino Linotype", sans-serif;
    text-align: center;
    font-size: 18px;
}


/* EDUCATION SECTION STYLING */

#education {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

#education div {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
#education div h1 {
    text-align: center;
    font-family: "Jazz LET", sans-serif;
    color: white;
    font-size: 50px;
    margin: 20px;
}

#education div h2 {
    text-align: left;
    font-family: "Jazz LET", sans-serif;
    font-size: 30px;
    color: white;
}

#education div p {
    font-family: "Jazz LET", sans-serif;
    font-size: 23px;
}

#education div div {
    text-align: left;
    color: white;
    display: grid;
    justify-content: left;
    align-items: center;
    margin-bottom: 30px;
    padding: 5px;
    
    flex-wrap: wrap;
}
#education div div div {
    border: 1px white solid;
    /*background-image: url("images/div_background.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/

    /*background: linear-gradient(45deg, #90313f,#46223c,#32306d );*/

    background-image: url("images/div_background.jpg");

    border-radius: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 30px;
}

/* SKILLS SECTION STYLING */

#skills {
    margin-top: 170px;
    margin-bottom: 160px;
}

#skills div {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#skills div h1 {
    text-align: center;
    font-family: "Jazz LET", sans-serif;
    color: white;
    font-size: 50px;
    margin: 20px;
}
#skills div div {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
}
#skills div div ul {
    display: grid;
    justify-content: center;
    align-items: center;
}

#skills div div ul li a {
    text-decoration: none;
}

#skills div div ul li {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    display: inline;
    justify-content: center;
    align-items: center;
    margin-inline: 5px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    font-family: "Jazz LET", sans-serif;
    background-color: white;
    color: purple;
}

/* HOBBIES SECTION STYLING */

#hobbies {
    margin-top: 100px;
    margin-bottom: 100px;
}

#hobbies div {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#hobbies div h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Jazz LET", sans-serif;
    color: white;
    margin: 20px;
}
#hobbies div div {
    flex-wrap: wrap;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
#hobbies div div div img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#hobbies div div div h2 {
    font-family: "Jazz LET", sans-serif;
}
#hobbies div div div {
    /*background-color: #883a51;*/
    background-image: url("images/div_background.jpg");
    padding: 15px;
    margin-inline: 15px;
    border-radius: 30px;
    color: white;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

/* CONTACT SECTION STYLING */

#contact {
    margin-top: 150px;
}

#contact div {
    background-image: url("images/div_background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    border: 1px white solid;
}

#contact div div {
    background-color: white;
    border-radius: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px black solid;
    margin-inline: 20px;
    padding: 15px;
}
#contact div div a {
    text-decoration: none;
    color: purple;
    font-family: "Jazz LET", sans-serif;
}
#contact div div img {
    height: 150px;
    width: 150px;
}

#contact div:nth-child(2) form {
    border-radius: 30px;
    /*border: 1px white solid;*/
    /*background-image: url("images/div_background.jpg");*/
    width: 850px;
    height: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contact div:nth-child(2) form label input {
    text-align: center;
    border-radius: 5px;
    width: 425px;
    height: 30px;
}


/* FOOTER SECTION STYLING */

footer {
    height: 60px;
    margin-bottom: 0;
    text-align: center;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

@media only screen and (max-width: 390px) {
    header div nav {
        margin-inline: 10px;
    }

    header nav ul li {
        margin: 5px 0;
    }

    #about div div div {
        width: 95%;
        margin-inline: 2.5%;
    }

    #education div div div {
        width: 95%;
        margin-inline: 2.5%;
    }

    #hobbies div div div {
        width: 95%;
        margin-inline: 2.5%;
    }

    #contact div {
        padding-inline: 10px;
    }

    header nav h1 {
        font-size: 1.2em;
    }

    header nav ul li a {
        font-size: 1em;
    }

    #about div h1 {
        font-size: 1.5em;
    }

    #about div div div h2 {
        font-size: 1.2em;
    }

    #about div div div p {
        font-size: 0.8em;
    }

    #education div h1 {
        font-size: 1.5em;
    }

    #education div h2 {
        font-size: 1em;
    }

    #education div p {
        font-size: 0.9em;
    }

    #skills div h1 {
        font-size: 1.5em;
    }

    #skills div div ul li {
        font-size: 0.9em;
    }

    #hobbies div h1 {
        font-size: 1.5em;
    }

    #contact div h1 {
        font-size: 1em;
    }
}
